<p-card
  class="min-h-screen flex justify-content-center align-items-center"
  [header]="'ATTRIBUTE.EDIT.TITLE' | translate"
>
  <form
    class="flex flex-column align-items-center"
    [formGroup]="editAttributeForm"
  >
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        id="attribute"
        class="input-field"
        [formControlName]="fieldNames.Name"
        placeholder="{{ 'ATTRIBUTE.EDIT.LABELS.LABEL' | translate }}"
      />
      <inv-field-errors
        [label]="'ATTRIBUTE.EDIT.LABELS.LABEL' | translate"
        [fieldControl]="editAttributeForm.controls[fieldNames.Name]"
      ></inv-field-errors>
    </span>
    <span class="mt-4 flex flex-row gap-3">
      <p-button
        (onClick)="onCancel()"
        [label]="'ATTRIBUTE.EDIT.BUTTONS.CANCEL' | translate"
      ></p-button>
      <p-button
        (onClick)="onSubmit()"
        [label]="'ATTRIBUTE.EDIT.BUTTONS.SUBMIT' | translate"
        [disabled]="editAttributeForm.invalid"
      >
      </p-button>
    </span>
  </form>
</p-card>
