<p-card
  class="min-h-screen flex justify-content-center align-items-center"
  header="Edit Attribute"
>
  <form
    [formGroup]="editAttributeForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-column align-items-center"
  >
    <!-- Attribute Name -->
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        id="name"
        formControlName="name"
        placeholder="Attribute Name"
        class="input-field"
      />
      <label for="name">Attribute Name</label>
    </span>
    <inv-field-errors
      [label]="'Attribute Name'"
      [fieldControl]="editAttributeForm.controls['name']"
    ></inv-field-errors>

    <!-- Dynamic Form Array for Attribute Values -->
    <div formArrayName="values" class="mt-4">
      <div
        *ngFor="let valueControl of valuesFormArray.controls; let i = index"
        [formGroupName]="i"
        class="form-group mt-1"
      >
        <input
          type="text"
          pInputText
          formControlName="value"
          placeholder="Attribute Value"
        />
        <p-button
          type="button"
          icon="pi pi-trash"
          (click)="removeValueControl(i)"
        ></p-button>
      </div>
      <p-button
        type="button"
        label="Add Value"
        (click)="addValueControl()"
      ></p-button>
    </div>

    <!-- Form Buttons -->
    <div class="mt-4 flex flex-row gap-3">
      <p-button type="button" label="Cancel" (onClick)="onCancel()"></p-button>
      <p-button
        type="submit"
        label="Submit"
        [disabled]="editAttributeForm.invalid"
      ></p-button>
    </div>
  </form>
</p-card>
