<p-card
  class="min-h-screen flex justify-content-center align-items-center"
  [header]="'ATTRIBUTE.VALUE.EDIT.TITLE' | translate"
>
  <form [formGroup]="editAttributeForm" (ngSubmit)="onSubmit()">
    <!-- <div formGroupName="attribute"> -->
    <!-- <p-dropdown
      class="col-12 md:col-11"
      [options]="attributeItem"
      [formControlName]="fieldNames.Name"
      placeholder="{{
        'NEW_PRODUCT.CREATE.SELECT_ATTRIBUTE' | translate
      }}"
      [showClear]="true"
    ></p-dropdown> -->
    <!-- <p>{{ attributeItem.name }}</p> -->
    <!-- </div> -->
    <div formArrayName="values">
      <div
        *ngFor="let valueGroup of valuesFormArray.controls; let i = index"
        [formGroupName]="i"
        class="form-group"
      >
        <!-- Adjusted to bind to the `value` property within each FormGroup -->
        <input type="text" pInputText formControlName="value" />
        <p-button type="button" (click)="removeValueControl(i)"
          >Remove</p-button
        >
      </div>
      <p-button type="button" (click)="addValueControl({ id: 0, value: '' })"
        >Add Value</p-button
      >
    </div>

    <p-button type="submit">Submit</p-button>
  </form>
</p-card>
