<p-card
  class="min-h-screen flex justify-content-center align-items-center"
  [header]="'ATTRIBUTE.CREATE.TITLE' | translate"
>
  <form
    class="flex flex-column align-items-center"
    [formGroup]="createAttributeForm"
  >
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        class="input-field"
        [formControlName]="fieldNames.Name"
        placeholder="{{ 'ATTRIBUTE.CREATE.LABELS.LABEL' | translate }}"
      />
      <inv-field-errors
        [label]="'ATTRIBUTE.CREATE.LABELS.LABEL' | translate"
        [fieldControl]="createAttributeForm.controls[fieldNames.Name]"
      ></inv-field-errors>
    </span>

    <div class="mt-4 flex flex-row gap-3">
      <p-button type="button" label="Cancel" (onClick)="onCancel()"></p-button>

      <p-button
        (onClick)="onSubmit()"
        [label]="'ATTRIBUTE.CREATE.BUTTONS.SUBMIT' | translate"
        cy-data="createAttributeButton"
        [disabled]="createAttributeForm.invalid"
      ></p-button>
    </div>
  </form>
</p-card>
