<p-card
  class="min-h-screen flex justify-content-center align-items-center"
  [header]="'ATTRIBUTE.CREATE.TITLE' | translate"
>
  <form
    class="flex flex-column align-items-center"
    [formGroup]="createAttributeForm"
  >
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        id="attribute"
        class="input-field"
        [formControlName]="fieldNames.Name"
      />
      <label htmlFor="attribute">{{
        "ATTRIBUTE.CREATE.LABELS.LABEL" | translate
      }}</label>
      <inv-field-errors
        [label]="'ATTRIBUTE.CREATE.LABELS.LABEL' | translate"
        [fieldControl]="createAttributeForm.controls[fieldNames.Name]"
      ></inv-field-errors>
    </span>

    <p-button
      class="mt-4"
      (onClick)="onSubmit()"
      [label]="'ATTRIBUTE.CREATE.BUTTONS.SUBMIT' | translate"
      cy-data="createAttributeButton"
      [disabled]="createAttributeForm.invalid"
    ></p-button>
  </form>
</p-card>
