<div class="card" [formGroup]="productForm">
  <span class="block text-900 font-bold text-xl mb-4">
    {{ "NEW_PRODUCT.CREATE.TITLE" | translate }}
  </span>
  <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
    <div class="col-12 lg:col-8">
      <div class="grid formgrid">
        <div class="col-12 field">
          <input
            pInputText
            type="text"
            placeholder="{{ 'NEW_PRODUCT.CREATE.NAME' | translate }}"
            [formControlName]="fieldNames.Name"
          />
        </div>
        <div class="col-12 lg:col-4 field">
          <input
            pInputText
            type="text"
            placeholder="{{ 'NEW_PRODUCT.CREATE.PRICE' | translate }}"
            [formControlName]="fieldNames.Price"
          />
        </div>
        <div class="col-12 lg:col-4 field">
          <input
            pInputText
            type="text"
            placeholder="{{ 'NEW_PRODUCT.CREATE.CODE' | translate }}"
            [formControlName]="fieldNames.Code"
          />
        </div>
        <div class="col-12 lg:col-4 field">
          <input
            pInputText
            type="text"
            placeholder="{{ 'NEW_PRODUCT.CREATE.SKU' | translate }}"
            [formControlName]="fieldNames.Sku"
          />
        </div>
        <div class="col-12 field">
          <!-- <p-editor
            [(ngModel)]="product.description"
            [style]="{ height: '250px' }"
          ></p-editor> -->
          <textarea
            [style]="{ height: '250px', width: '100%' }"
            pInputTextarea
            placeholder="{{ 'NEW_PRODUCT.CREATE.DESCRIPTION' | translate }}"
            [formControlName]="fieldNames.Description"
          ></textarea>
        </div>
        <div class="col-12 field">
          <p-fileUpload
            #fileUploader
            name="demo[]"
            url="./upload.php"
            (onUpload)="onUpload($event)"
            [customUpload]="true"
            [multiple]="true"
            (onSelect)="onUpload($event)"
            accept="image/*"
            [showUploadButton]="true"
            [showCancelButton]="false"
            [auto]="true"
            styleClass="border-1 surface-border surface-card border-round"
          >
            <ng-template pTemplate="content">
              <div
                class="h-15rem overflow-y-auto py-3 border-round"
                style="cursor: copy"
                (click)="fileUploader.advancedFileInput.nativeElement.click()"
              >
                <div
                  *ngIf="!images.length"
                  class="flex flex-column w-full h-full justify-content-center align-items-center"
                >
                  <i class="pi pi-file text-4xl text-primary"></i>
                  <span class="block font-semibold text-900 text-lg mt-3">
                    {{ "NEW_PRODUCT.CREATE.UPLOAD_IMAGE" | translate }}
                  </span>
                </div>
                <div
                  class="flex flex-wrap gap-3 border-round"
                  *ngIf="images.length"
                >
                  <div
                    *ngFor="let file of images; let i = index"
                    class="h-full relative w-7rem h-7rem border-3 border-transparent border-round hover:bg-primary transition-duration-100 cursor-auto"
                    (mouseenter)="onImageMouseOver(file)"
                    (mouseleave)="onImageMouseLeave(file)"
                    style="padding: 1px"
                  >
                    <img
                      [src]="file.objectURL"
                      class="w-full h-full border-round shadow-2"
                      [alt]="file.name"
                    />
                    <button
                      [id]="file.name"
                      #buttonEl
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center cursor-pointer w-2rem h-2rem"
                      style="top: -10px; right: -10px; display: none"
                      (click)="$event.stopPropagation(); removeImage(file)"
                    ></button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>

    <div class="flex-1 w-full lg:w-3 xl:w-4 flex flex-column row-gap-3">
      <button
        type="button"
        pButton
        label="{{ 'NEW_PRODUCT.CREATE.ADD_ATTRIBUTE' | translate }}"
        (click)="addAttribute()"
        class="p-button-text mb-1"
      ></button>
      <div>
        <div
          formArrayName="attributes"
          class="border-1 surface-border border-round"
        >
          <span
            class="text-900 font-bold block border-bottom-1 surface-border p-3"
          >
            {{ "NEW_PRODUCT.CREATE.ATTRIBUTES" | translate }}
          </span>

          <div
            *ngFor="let attribute of getAttributes()?.controls; let i = index"
            [formGroupName]="i"
            class="p-3 grid"
          >
            <p-dropdown
              class="col-12 md:col-11"
              [options]="attributeOptions"
              [formControlName]="fieldNames.Name"
              [optionLabel]="fieldNames.Name"
              placeholder="{{
                'NEW_PRODUCT.CREATE.SELECT_ATTRIBUTE' | translate
              }}"
              (onChange)="onAttributeSelect($event.value, i)"
              [showClear]="true"
            ></p-dropdown>
            <p-button
              class="col-12 md:col-1"
              icon="pi pi-plus"
              [routerLink]="['../attributes/create']"
            ></p-button>

            <p-multiSelect
              [options]="attributes.at(i).get('values')?.value"
              class="col-12 md:col-11"
              [formControlName]="fieldNames.Values"
              defaultLabel="{{ 'NEW_PRODUCT.CREATE.SELECT_VALUE' | translate }}"
              [showClear]="true"
            ></p-multiSelect>
            <p-button
              class="col-12 md:col-1"
              (click)="createValue(i)"
              icon="pi pi-plus"
              [disabled]="!attribute.get(fieldNames.Name)?.value"
            ></p-button>
          </div>
        </div>
      </div>

      <div
        class="border-1 surface-border flex justify-content-between align-items-center py-2 px-3 border-round"
      >
        <span class="text-900 font-bold p-3">{{
          "NEW_PRODUCT.CREATE.INSTOCK" | translate
        }}</span>
        <p-inputSwitch [formControlName]="fieldNames.InStock"></p-inputSwitch>
      </div>

      <div
        class="flex flex-column sm:flex-row justify-content-between align-items-center gap-3 py-2"
      >
        <button
          pButton
          pRipple
          class="p-button-danger flex-1 p-button-outlined"
          label="{{ 'NEW_PRODUCT.CREATE.DISCARD' | translate }}"
          icon="pi pi-fw pi-trash"
        ></button>
        <button
          pButton
          pRipple
          class="p-button-primary flex-1 border-round"
          label="{{ 'NEW_PRODUCT.CREATE.SAVE' | translate }}"
          icon="pi pi-fw pi-check"
          (click)="onSubmit()"
        ></button>
      </div>
    </div>
  </div>
</div>

<!-- <p-dialog
  header="{{ 'NEW_PRODUCT.NEW_VALUE.TITLE' | translate }}"
  [(visible)]="displayValueDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <div class="field">
    <label for="newValue"
      >{{ "NEW_PRODUCT.NEW_VALUE.NAME" | translate }}:</label
    >
    <input id="newValue" type="text" pInputText [(ngModel)]="newValue" />
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      label="{{ 'NEW_PRODUCT.NEW_VALUE.ADD' | translate }}"
      (click)="addNewValue(currentAttributeIndex)"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog
  header="{{ 'NEW_PRODUCT.NEW_ATTRIBUTE.TITLE' | translate }}"
  [(visible)]="displayAttributeDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <div class="field">
    <label for="newValue"
      >{{ "NEW_PRODUCT.NEW_ATTRIBUTE.NAME" | translate }}:</label
    >
    <input id="newValue" type="text" pInputText [(ngModel)]="newAttribute" />
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      label="{{ 'NEW_PRODUCT.NEW_ATTRIBUTE.ADD' | translate }}"
      (click)="addNewAttribute()"
    ></button>
  </p-footer>
</p-dialog> -->
